[submodule "au-emergency-services"]
	path = au-emergency-services
	url = https://github.com/techcoderlab/au-emergency-services.git
[submodule "emergency"]
	path = emergency
	url = https://github.com/techcoderlab/emergency.git
[submodule "plumber"]
	path = plumber
	url = https://github.com/techcoderlab/plumber.git
